<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EmailURL" value="Webmaster@dcthunder.com/" />
    <add key="EmailIPAddress" value="" />
    <add key="Environment" value="TEST"/>
    <add key="EmailPort" value="25" />
    <add key="EmailUserName" value="" />
    <add key="EmailPassword" value="" />
    <add key="EmailFromAddress" value="Webmaster@dcthunder.com" />
    <add key="EmailEnabled" value="True" />
    <add key="requiresSSL" value="false" />
    <add key="defaultEmail" value="Webmaster@dcthunder.com" />
    <add key="siteLocation" value="" />
    <add key="contactPhone" value="336-964-5675" />
    <!--add key="ConnectionType" value="MYSQL" -->
    <add key="ConnectionType" value="MSSQL" />
    <add key="secGroupName" value="DC_THUNDER"/>
    <add key="auditLoginActivity" value="true" />
    <add key="inNumberOfRetriesToAccessDatabase" value="2" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="sendEmailOnRegister" value="False" />
    <add key="sendEmailOnValidate" value="False" />
    <add key="sendEmailOnShip" value="False" />
    <add key="sendEmailOnDelivery" value="False" />
    <add key="boolSendOrderEmails" value="True" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="schema" value="DC_Thunder" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Server=localhost;Database=DC_THUNDER;User Id=Thunder;Password=Do0msday;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Server=aa1l7r9qkgnccj5.cbcayinpwybk.us-east-2.rds.amazonaws.com;Database=DC_THUNDER;User Id=Thunder;Password=Do0msday;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <sessionState mode="InProc" cookieless="true" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- On, Off, or RemoteOnly -->
    <customErrors mode="Off" defaultRedirect="Oops.aspx" />
    
    <pages maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://www.yourdomain.com" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
      </service>
    </services>
  </system.serviceModel>
</configuration>